.homeContainer {
  padding-top: 70px;
}
.homeContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px 40px;
  background: #d9d9d9;
  color: #0e4be8;
  border-radius: 10px;
}
.homeCard {
  display: flex;
  margin: 20px;
  border: aqua;
  border: double;
}
.search {
  display: flex;
  justify-content: center;
}
.searchBar {
  justify-content: center;
  text-align: center;
  width: 70vw;
  height: 5vh;
}
.votesSection {
  background: #d9d9d9;
  margin: 20px;
}
GoTriangleUp {
  background: #0e4be8;
  margin-top: 15px;
  /* width: 20px; */
  height: 30px;
}
.commentCard {
  /* right: 0; */
  padding-right: 0;
  height: 30px;
  /* buttom: 0; */
  top: revert;
  margin-left: 0;
  margin-top: 88px;
}
.anSwerDetail {
  list-style: none;
  width: 20vw;
}
.questionSections {
  margin-left: 30px;
  border: 2px solid;
}
