.signContinue {
  padding-top: 130px;
  background: #ebebeb;
  align-self: center;
  width: 420px;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 40px;
  padding-left: 16px;
}
.welcome-sign {
  margin-top: auto;
  color: #0e4be8;
  text-align: center;
}
.cardcontainer {
  padding: 12px;
  height: 380px;
  width: 400px;
  border-radius: 20px;
}
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btnPrimary {
  background-color:#90A1D8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 95%;
}
.formGroup {
  margin-bottom: 20px;
}
.alertDanger {
  color: red;
}
